<h2>レビュー投稿</h2>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



  
  <p>ユ<%= form_with model: @post do |f| %>ーザーネーム<%= current_user.username %></p>
  <p>サブスク会社名<%= f.select :subsc_id, options_from_collection_for_select( Subsc.all, :id, :company_name) %></p>
  <p>タイトル<%= f.text_area :title %></p>
  <p>詳細 <%= f.text_area :body %></p>
  <div class="field">
    <%= f.file_field :images, multiple: true %>
  </div>
  <%= f.submit '投稿', class:"btn btn-succes" %>
 
<% end %>