<div class="col-md-10 offset-md-1">
<h2>投稿詳細</h2>
  <div class="border">
    <%= link_to user_path(@user) do %>
      <p>ユーザーネーム：<%= @post.user.username %></p>
    <% end %>
      <p>サブスク名：<%= @post.subsc.name %></p>
      <p>タイトル<%= @post.title %></p>
      <p>詳細<%= @post.body %></p>
      <p><% if @post.images.attached? %>
              <% @post.images.each do |image| %>
                <%= image_tag image.variant(resize: '200x200') %>
              <% end %>
             <% end %> </p>
      <p>コメント数: <%= @post.comments.count %> </p>
  </div>
        <%= render "public/comments/comment",  locals: {post: @post} %><%= render "public/comments/form", locals: { comment: @comment} %>
        
           
        <td></td>
      </tr>
  </table>
      
</div>
  