<h2>投稿詳細</h2>
<div>
  <table class="table">
    <thead>
      <tr> 
        <th><h4>ユーザーネーム</h4></th>
        <th><h4>サブスク名</h4></th>
        <th><h4>タイトル</h4></th>
        <th><h4>詳細</h4></th>
        <th><h4>画像</h4></th>
        <th><h4>コメント</h4></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to user_path(@user) do %>
              <%= @post.user.username %>
            <% end %></td>
        <td><%= @post.subsc.name %></td>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>
        <td>
        <% if @post.images.attached? %>
              <% @post.images.each do |image| %>
                <%= image_tag image.variant(resize: '200x200') %>
              <% end %>
            <% end %></td>
            <td></td>
        <% if @post.user == current_user %>
          <td><%= link_to "編集", edit_post_path(@post) %></td>
        <% end %>
        <td>コメント数: <%= @post.comments.count %></td>
      </tr>
    </tbody>
  </table>
      <%= render "public/comments/comment", post: @post %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
</div>
  