<div class="col-md-10 offset-md-1">

<h2>投稿詳細</h2>
  <div class="border">
    <%= link_to user_path(@user) do %>
      <p>ユーザーネーム</br><%= @post.user.username %></p>
    <% end %>
      <p>サブスク名</br><%= @post.subsc.name %></p>
      <p>タイトル</br><%= @post.title %></p>
      <p>詳細</br><%= @post.body %></p>
      <p><% if @post.images.attached? %>
              <% @post.images.each do |image| %>
                <%= image_tag image.variant(resize: '200x200') %>
              <% end %>
             <% end %> </p>
      <%= link_to "投稿一覧へ", posts_path %>
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post.id) %>
      <% end %>
      <p>コメント数: <%= @post.comments.count %> </p>
  </div>
        <%= render "public/comments/comment",  locals: {post: @post} %><%= render "public/comments/form", locals: { comment: @comment} %>
        
           
        <td></td>
      </tr>
  </table>
      
</div>
  