<h1>Subsc登録</h1>
  <%= form_with model: @subsc do |f| %>
    <h4>会社名</h4>
      <%= f.text_field :company_name %>
    <h4>画像</h4>
      <%= f.file_field :subsc_image, accept: "image/*" %>
    <h4>サブスク名</h4>
      <%= f.text_field :name %>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>説明</h4>
      <%= f.text_area :introduction %>
    <h4>料金</h4>
      <%= f.text_field :fee, type: :number %>円
     <h4>送料</h4>
      <%= f.text_field :postage, placeholder:"無料または〇〇円" %>
    <h4>配送頻度</h4>
      <%= f.text_field :delivery_frequency, placeholder:"1回/1か月" %>
    <h4>最低利用期間</h4>
      <%= f.text_field :minimum_period, placeholder:"2週間" %>
    <%= f.submit '新規登録' %>
  <% end %>