<div class="col-md-10 offset-md-1">
<h1>サブスク詳細</h1>
  <div>
    <p>会社名：<%= @subsc.company_name %></p>
    <p><% if @subsc.subsc_image.present? %>
         <%= image_tag @subsc.subsc_image, size: "200x200" %>
       <% end %></p>
    <p>サブスク名：<%= @subsc.name %></p>
    <p>タイトル：<%= @subsc.title %></p>
    <p>説明：<%= @subsc.introduction %></p>
    <p>料金：<%= @subsc.fee %>円</p>
    <p>送料：<%= @subsc.postage %></p>
    <p>配送頻度：<%= @subsc.delivery_frequency %></p>
    <p>最低利用期間：<%= @subsc.minimum_period %></p>
    <p><%= link_to "編集", edit_admin_subsc_path(@subsc) %><p>
  </div>
</div>