<h1>サブスク詳細</h1>
  <div>
  <%= @subsc.company_name %>
  <%= link_to "レビュー",posts_path(@post), class:"btn btn-outline-warning btn-sm" %>
  <%= link_to "投稿する",new_post_path, class:"btn btn-outline-success btn-sm" %>
  <p>画像</p>
  <p><%= @subsc.name %></p>
  <p><%= @subsc.title %></p>
  <p>説明：<%= @subsc.introduction %></p>
  <p>料金：<%= @subsc.fee %>円</p>
  <p>送料：<%= @subsc.postage %></p>
  <p>配送頻度：<%= @subsc.delivery_frequency %></p>
  <p>最低利用期間：<%= @subsc.minimum_period %></p>

</div>

