<h2>ユーザー情報の編集画面</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <label for="inputName">ユーザーネーム</label>
  <%= f.text_field :username, autofocus: true, id:"inputName", placeholder:"名前"%>
  <label for="inputEmail">メールアドレス</label>
  <%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>
  <%= f.submit "保存" %>
  
<% end %>
<%= link_to '退会', user_confirm_path(@user) %>