<div class="col-md-10 offset-md-1">
  <h2>ユーザー画面</h2>
  <table class="table col-md-5 offset-md-1">
    <tr>
      <th scope="row">ユーザーネーム </th>
      <th><%= @user.username %></th>
    </tr>
    <tr>
      <th scope="row">メースアドレス</th>
      <th><% if @user = current_user %>
            <%= @user.email %>
         </th>
    </tr>
  </table>
  <p class="col offset-md-6"><%= link_to "ユーザー情報の編集", edit_user_path(@user), class:'btn btn-secondary ' %></p>
          <% end %>

  <div class="col-md-5 offset-md-1 striped">
  <h4>投稿一覧</h4>
  <% @posts.each do |post| %>
    <p>サブスク名<%= post.subsc.name %></p>
    <p>タイトル<%= post.title %></p>
    <p>詳細<%= post.body %></p>
    <p><% if post.images.attached? %>
        <% post.images.each do |image| %>
          <%= image_tag image.variant(resize: '200x200') %>
        <% end %>
       <% end %></p>
    <p>コメント数: <%= post.comments.count %></p>   
    <p><%= link_to "詳細", post_path(post.id) %></p>
  <% end %>
  </div>
  


