<h2>ユーザー詳細画面</h2>
  <p>ユーザーネーム<%= @user.username %></p>
  <% if @user = current_user %>
    <p>メースアドレス<%= @user.email %></p>
    <p><%= link_to "ユーザー情報の編集", edit_user_path(@user) %></p>
  <% end %>

  <h4>投稿一覧</h4>
  <% @posts.each do |post| %>
    <p>サブスク名<%= post.subsc.name %></p>
    <p>タイトル<%= post.title %></p>
    <p>詳細<%= post.body %></p>
    <p><% if post.images.attached? %>
        <% post.images.each do |image| %>
          <%= image_tag image.variant(resize: '200x200') %>
         <% end %>
       <% end %></p>
    <p>コメント数: <%= post.comments.count %></p>   
    <p><%= link_to "詳細", post_path(post.id) %></p>
   <% end %>
  


